/* Style for the page footer */

footer.page-footer {
    background-color: #FFFFFF;
	float: left;
    color: #333;
    font-size: 13px;
	padding: 0px 0px 1.2em;
    height: 3rem;
	width: 100%;
	bottom: 0;
	margin: 5px;
	position: relative;
}

footer.page-footer .container {
    padding: 0rem;
}

/* To stick the footer at the bottom of the page, give the page-section a min-height so it pushes down */
section.page-section {
    min-height: calc(100% - 10.5rem); /* 46.6rem is the combined height of the nav, header and footer. */
}
