## v4.4
*.lnk
!/..PhpStorm.lnk
_editzz_*
.DS_Store
.idea
Thumbs.db

*-content/cache/
*/*-content/cache/
*/*/*-content/cache/
*-content/ewww/
*/*-content/ewww/
*/*/*-content/ewww/
*-content/w3tc-config/
*/*-content/w3tc-config/
*/*/*-content/w3tc-config/
*-content/advanced-cache.php
*/*-content/advanced-cache.php
*/*/*-content/advanced-cache.php
*-content/object-cache.php
*/*-content/object-cache.php
*/*/*-content/object-cache.php
/addons/
/apps/inc/bower_components/
/apps/inc/vendor/
/apps/node_modules/
/cgi-bin/
/addons_sub/
/s/
/zzFiles/_sql_CAREFUL/**/_db_*.sql*
/zzFiles/_sql_CAREFUL/**/*_winscp.txt
!/zzFiles/_sql_CAREFUL/_db_export_*.sql
!/zzFiles/_sql_CAREFUL/_db_import_*.sql

*error_log*
___root
error_log
log.htm


## ROOT only
*/
*/*
.*
*.*
access-logs
www

!_apps/
!_apps/*

!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.htaccess
!/_editzz-*
!php.ini
!_db*.sh


## Custom
##REMOVE FROM PRODUCTION
!php*.ini
